app = "iatlas-backend"

[build]
  dockerfile = "Dockerfile"

[env]
  ENVIRONMENT = "production"

[[services]]
  internal_port = 8000
  protocol = "tcp"
  
  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true
  
  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.http_checks]
    grace_period = "10s"
    interval = "30s"
    timeout = "5s"
    method = "GET"
    path = "/health"
    protocol = "http"
    tls_skip_verify = false

    [services.http_checks.status]
      expect = [200]